
/*#cart-table { width: 100%; }
#cart-table thead th {text-align: left;}
#cart-table th { font-weight: bold; border-bottom: 1px solid #d8d8d8; }
#cart-table th, #cart-table td { padding: 5px; width: 50%; text-align: center; }
#cart-table td { background-color: #f2f2f2; }

#cart-table .right {
    text-align: right;
}

input.input-quantity {
    width: 100px;
}*/